<section class = "dashboard">
  <div class="row">
    <div class="col s12 center-align">
      <a href="/campfire" class="white-text">Check Out Some Campfires Near You!</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <a href="/create-group" class="white-text">Start a Campfire!</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <a href="/matched" class="white-text">Your Matched Campfires</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <a href="/created" class="white-text">Your Campfires</a>
    </div>
  </div>
  </section>

  