<div class = "center align">
<h1> Welcome to Campfire!</h1>

<p>Campfire allows users to browse through and create groups based on their needs and interests.</p>
<p>Need a last minute fill in for your basketball game?</p>
<p class = "campfire" >Try Campfire!</p>
<p>Want to try D&D but don't know anyone who plays?</p>
<p class = "campfire">Try Campfire! </p>
<a href="/register" class="white-text">Get Registered today!</a>
</div>