<div class="row">
     <div class="col s4 offset-s4">
          <form class="signup-form">
               <div class="center-align">
                    <button type="submit" id="register-submit-button">Signup</button>
               </div>
               <div>
                    <label for="username-signup">Username:</label>
                    <input type="text" id="username-signup" class='white-text' />
               </div>
               <div>
                    <label for="email-signup">Email:</label>
                    <input type="text" id="email-signup" class="white-text" />
               </div>
               <div>
                    <label for="location-signup">ZIP Code: </label>
                    <input type="text" id="location-signup" class="white-text" />
               </div>
               <div>
                    <label for="password-signup">Password:</label>
                    <input type="password" id="password-signup" class="white-text" />
               </div>
          </form>
     </div>
</div>

<script src="/javascript/register.js"></script>