* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #855723;
  background-color: rgb(1, 1, 34);
  font-family: 'Racing Sans One';
}

a {
  text-decoration: none;
  color: #225ca3;
  font-size: 20px;

}

p {
  color: rgba(255, 255, 255, 0.904);
  font-size: 17px;
}

.campfire {
background-image: linear-gradient(45deg, red 40%, orange 52%, yellow 90%);
background-clip: text;
text-fill-color: transparent; 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

.navbar-brand {
  background: rgba(255, 255, 255, 0);
}

.name {
font-size: 55px;
}

.name:hover {
background-image: linear-gradient(45deg, red 0%, orange 52%, yellow 90%);
background-clip: text;
text-fill-color: transparent; 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

a:hover {
background-image: linear-gradient(45deg, red 0%, orange 52%, yellow 90%);
background-clip: text;
text-fill-color: transparent; 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

button:hover {
background-image: linear-gradient(45deg, red 0%, orange 52%, yellow 90%);
background-clip: text;
text-fill-color: transparent; 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

button {
  font-size: 25px;
  border: 0;
  padding: 1%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Racing Sans One';
  color: #668d3c;
  background-color: rgba(255, 255, 255, 0%);
}

.post-list {
  margin: 0;
  padding: 0;
}

input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255, 35%);
}

input:focus {
  outline: none;
  border: 1px solid #668d3c;
  background-color: rgb(255, 255, 255, 35%);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

label {
  font-size: 15px;
  color: #a3adb8;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Racing Sans One';
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}



.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.campfire-list {
  font-size: 1.5rem;
}
/* footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%; */

